<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


body{
    background-color: aqua;
    padding 16px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}